.edit{
  font-size: 22px;
  display: flex;
  align-items: center;
  margin-right: 2px;
  min-height: 22px;
  min-width: 12px;
  background-color: cornflowerblue;
}

.delete{
  font-size: 22px;
  display: flex;
  align-items: center;
  min-height: 22px;
  min-width: 12px;
  background-color:crimson;
}